includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 5

    excludePaths:
        - ./app/Http/Controllers/Auth/VerifyEmailController.php
        - ./app/Livewire/Pages/Auth
        - ./app/Livewire/Profile

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: true
    checkOctaneCompatibility: true
    noModelMake: false
